@model SecurityApplication.Models.Person
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Company.Name</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        @if (ViewBag.PeopleTableActions)
        {
            <td>@Html.ActionLink("Edit", "Edit", "Secure", new {@Model.Id}, null)</td>
        }
    </tr>